body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Google Search and Image Search form */
.search-form {
    width: 600px;
}

/* Logo in the center of the pages Google Search and Image Search */
.logo, .relative-container {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Navigation bar in the top right corner -> Google Search and Image Search */
#navbar a {
    padding: 7.5px;
    color: black;
    text-decoration: none;
    font-size: small;
}

#navbar {
    margin-top: 13px;
    margin-right: 20px;
}

/* Log in button inside the nav bar */
.log-in {
    margin-left: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Grid icon inside the nav bar */
.grid-icon {
    margin-top: 5px;
    margin-left: 15px;
    font-size: larger;
    color: lightslategray;
}

/* Search bar -> Google Search and Image Search */
#search-bar {
    background: url("search.svg") no-repeat left 5% top 50%;
    background-size: 15px;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 2%;
    padding-left: 12.5%;
}

#search-bar:hover {
    box-shadow: 0px 0px 5px 1px lightgray;
}

/* Google Search sumbit buttons that link to the google search and 'i'm feeling lucky' feature */
#submit-buttons {
    display: grid;
    grid: auto / auto auto;
}

#submit-buttons button {
    width: 150px;
    margin: 1.25%;
    margin-top: 32px;
    font-size: medium;
    color: #444545;
}

.relative-container {
    position: relative;
}

/* Styles the text 'Images' next to Google logo on Image Search*/
#logo-images {
    position: absolute;
    top: 77.5px;
    left: 240px;
    color: #4086f4;
}

/* Google Advanced Search form and title*/ 
#advanced-search-form, #title {
    margin: 1.9%;
    margin-left: 4%;
}

#advanced-search-form {
    display: grid;
    grid: auto / 20% auto;
    width: 75%;
    gap: 4%;
    margin-top: 3%;
}

#grid-item1 {
    grid-area: 1 / 1 / span 2 / span 2;
    font-size: large;
    margin-bottom: 2%;
}

#grid-item2 {
    grid-area: 7 / 2 / span 1 / span 1;
    width: 160px;
    margin-left: 60%;
    margin-top: 1.5%;
}

#title {
    color: #e33047;
    font-size: 1.35em;
    margin-top: 3.5%;
}

/* Footer for all pages */
.footer  a {
    padding: 2%;
    text-decoration: none;
    color: gray;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;    
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; 
}

#advanced-footer {
    height: 11%;
}

/* Containers inside footer -> Google Search and Image Search */
#container1 {
    width: 400px;  
}

#container2 {
    width: 190px;  
}

/* Responsive */
@media only screen and (max-width: 660px) {
    .search-form {
        width: 92%;
    }
}

@media only screen and (max-width: 670px) {
    #search-footer {
        display: inline !important;
        height: 20%;
    }

    #container1, #container2 {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    #advanced-search-form {
        display: inline !important;
        width: 100%;
    }
    #advanced-search-form input {
        width: 90%;
        margin-left: 25px;
    }

    #advanced-search-form label, p{
        margin-left: 35px;
    }

    #title {
        margin-left: 35px;
    }

    #grid-item2 {
        width: initial !important;
        margin-left: 65% !important;
    }
}

@media only screen and (max-height: 550px) {
    #search-footer {
        height: 24%;
    }
    
    #advanced-footer {
        display: none !important;
    }

    #grid-item2 {
        margin-bottom: 10px;
    }

}

@media only screen and (max-height: 430px) {
    #search-footer {
        display: none !important;
    }
}





